<footer class="container">
  <div class="footer_content">
    <small>
      &copy; Copyright Reserved Designed By <a href="https://github.com/evansinho/Blog-App">Evanson</a>
    </small>
    <ul class="footer_link">
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </div>
</footer>